@import url("https://fonts.cdnfonts.com/css/avenir");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  font-family: "Cairo", sans-serif !important;
}

h3 {
  font-weight: bold !important;
}

.min-height {
  min-height: 530px !important;
}

.html-converted-txt span {
  /* font-family: "Noto Sans", sans-serif !important; */
  font-size: 16px !important;
}

p {
  margin: 0px !important;
}

h3 {
  margin: 0px !important;
}

.nav-item {
  cursor: pointer;
}

.modal-body img {
  width: 100% !important;
}

.modal-content p {
  font-size: 14px !important;
  padding: 0 !important;
  margin: 0 !important;
}
.modal-dialog {
  max-width: var(--bs-modal-width);
  margin-right: auto;
  margin-left: auto;
}

.notes-modal-icon {
  cursor: pointer !important;
}

img {
  cursor: pointer;
}
.btn.active {
  background-color: rgb(0, 104, 179) !important;
  font-weight: bold !important;
  color: white !important;
}

hr {
  margin: 0px !important;
}

.hr {
  display: inline-block;
}
.hr:after {
  content: "";
  display: block;
  border-top: 1px solid gray;
}

.react-tabs__tab-list {
  border-bottom: none !important;
}

.nav-underline li a {
  font-size: 16px !important;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #0068b3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: blue;
}

.nav-link {
  padding: 0px !important;
}

.nav-underline {
  justify-content: space-between;
  box-shadow: 0 0 10px white;
  padding: 5px;
}

.pagination .active .page-link {
  background: #0068b3 !important;
}

.subscription-center {
  color: gray !important;
}

@media (min-width: 1200px) {
  .nav-underline {
    position: fixed;
    z-index: 1050;
    top: 293px;
    min-width: 65%;
    justify-content: space-between;
    align-items: baseline;
  }
  .nav-underline .nav-link.active {
    border-bottom: solid 1px white !important;
    color: white !important;
    font-weight: 700 !important;
  }
  .sub-nav-btn {
    color: white !important;
    /* background-color: rgb(0, 104, 179) !important; */
  }
  .modal-lg,
  .modal-xl {
    --bs-modal-width: 800px;
  }

  .nav-link {
    color: white !important;
    text-decoration: none;
  }

  .navbar-expand-lg .offcanvas {
    background-color: white !important;
  }
}

@media (max-width: 1200px) and (min-width: 1025px) {
  .nav-link.active {
    border-bottom: solid 1px blue !important;
    color: blue !important;
    font-weight: 700 !important;
    justify-content: space-between;
  }
  .sub-nav-btn {
    color: blue !important;
    /* background-color: rgb(0, 104, 179) !important; */
    font-size: 12px !important;
  }
  .nav-link {
    font-weight: 300 !important;
    color: white !important;
    text-decoration: none;
  }

  .nav-underline {
    position: fixed;
    z-index: 1050;
    top: 293px;
    min-width: 65%;
    justify-content: space-between;
    align-items: baseline;
  }

  .nav-underline li a {
    font-size: 12px !important;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .nav-underline {
    position: fixed;
    z-index: 1050;
    top: 290px;
    min-width: 65%;
    justify-content: space-between;
    align-items: baseline;
    font-size: 12px !important;
  }
  .nav-underline .nav-link.active {
    border-bottom: solid 1px blue !important;
    color: blue !important;
    font-weight: 700 !important;
  }
  .sub-nav-btn {
    color: blue !important;
    /* background-color: rgb(0, 104, 179) !important; */
  }

  .modal-lg,
  .modal-xl {
    --bs-modal-width: 800px;
  }

  .nav-link {
    font-weight: 300 !important;
    color: white !important;
    text-decoration: none;
  }

  .navbar-expand-lg .offcanvas {
    background-color: white !important;
  }

  .nav-underline li a {
    font-size: 12px !important;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .offcanvas {
    background-color: white !important;
  }

  .nav-underline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    color: black !important;
    margin-top: 56px;
    padding: 15px;
    box-shadow: 0 0 5px 0px black;
  }
  .nav-underline .nav-link.active {
    border-bottom: solid 2px black !important;
    color: black !important;
    font-weight: 700;
  }
  .sub-nav-btn {
    color: black !important;
    /* background-color: rgb(0, 104, 179) !important; */
  }
  .nav-link {
    color: black !important;
    text-decoration: none;
    font-weight: 300;
  }
  .nav-underline li a {
    font-size: 13px !important;
  }
}

@media (max-width: 425px) {
  td,
  th,
  button {
    font-size: 14px !important;
  }
  h5 {
    font-size: 16px !important;
  }
  p {
    font-size: 14px !important;
  }
  div {
    font-size: 14px !important;
  }
  .html-converted-txt span {
    font-size: 14px !important;
  }

  h3 {
    font-size: 18px !important;
  }
}
